#docbody{ padding:0px; background:url(theme/default/images/saas/content.bg.png) repeat-x #003056;}

.content{ padding:0px 80px; color:#c2dbff; clear:both; letter-spacing:0.005em;}
.content div{width:750px; margin-bottom:30px;}
.content img{ margin-top:20px}
.content h2{ font-size:20px; letter-spacing:0.1px; border-bottom:1px solid #5484a8; color:#fff;}
.content ul{font-size:13px; width:100%;}
.content ul li{ float:left; width:50%; list-style-image:url(theme/default/images/saas/list.type.png); line-height:150%;}
.content table{ border:2px solid #81acda;}
.content table tr{ height:24px;}
.content table tr .version{ color:#fdd000;}
.content table tr td{ border:0px; border-left: 1px solid #4f85b5; border-right: 1px solid #4f85b5;}
.content table tr th{ border:0px; border-left: 1px solid #4f85b5; border-right: 1px solid #4f85b5;}
.content table img{ margin-top:0px}
.content .half{ width:410px; float:left;}
.content .half img{float:left;}
.content .half div{ width:310px; margin-right:20px;}
.content .half div dl{width:100%; margin:0px; padding:0px 5px;}
.content .half div dl a{color:#c2bdff; text-decoration:none}
.content .half div dt{float:left; clear:left; line-height:1.5; width:225px}
.content .half div dd{float:right; clear:right;line-height:1.5; width:70px;}
.content .half div ul{margin-left:5px;}
.content .half div li{display:block;list-style:none;;width:100%;float:none;margin:0px;line-height:1.5;font-size:12px;}

caption{display:none}
.open a {font-size:14px; color:white; font-weight:bold;}
