<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>后台管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keyword" content="">
    <meta name="description" content="">
    

    <!-- Le styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 50px;
        padding-bottom: 40px;
      }
      .navbar .brand{padding:5px 20px;}
      .brand img{height:30px;}
      .navbar-container{width:1170px;margin:0 auto;}
      form{margin:0;}
      .article-list input{margin:0 0 10px 5px;}
      .article-form{border-radius: 4px 4px 4px 4px;height: 100%;padding:10px 0;}
      .table{width:100%; margin-bottom:0px;}
      .article-form table th{vertical-align:middle;margin-bottom:0;border-top:none;width:8%;}
      .article-form table td{vertical-align:middle;margin-bottom:0;border-top:none;width:90%;}
      .article-form table select{vertical-align:middle;margin-bottom:0;width:90%;}
      .article-form table input{margin-bottom:0;width:90%;}

    </style>
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>

        <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
        <div class="navbar-container">
          <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class="brand"><img src="img/xirang-black.png" alt="xirang" /></a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav pull-right">	
	      <li><a href="#/setting">设置</a></li>		
              <li class="divider-vertical"></li>								
              <li><a href="#/logout">退出</a></li>		
	    </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container -->
      </div><!--/.navbar-inner -->    
    </div>
    <div class="container">

    <h3>文章管理</h3>

    <div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">文章列表</a></li>
    <li><a href="#tab2" data-toggle="tab">类目管理</a></li>
    <li><a href="#tab3" data-toggle="tab">添加文章</a></li>
    </ul>
    <div class="tab-content">
    <div class="tab-pane active" id="tab1">
    <div class="article-list">
      <form method="get" action="">
        <select id="subjectSelect" name="sID">
	  <option value="0">分类筛选</option>
          <option value="1" isleaf="0">News</option>
          <option value="2" isleaf="1">&nbsp;├Company news</option>
          <option value="3" isleaf="1">&nbsp;├Industry news</option> 
        </select>
        <select name="topType">
          <option value="">推荐筛选</option>
          <option value="onIndex">首页推荐</option>
          <option value="onCate">类目推荐</option>
        </select>
        <select id="stateID" name="stateID">
          <option selected="selected" value="">状态筛选</option>
          <option value="1">发布中</option>
          <option value="3">草稿</option> 
          <option value="2">回收站</option>
        </select>
       <input type="submit" class="btn" value="筛选">
      </form>
      <table style="margin-top:15px;" class="table table-hover">
	<thead>
	  <tr>
	    <th style="width:10px"><input type="checkbox" ng-model="selectall" class="ng-pristine ng-valid"></th>
      <th>名称</th>
	    <th style="width:140px">操作</th>
	    <th style="width:140px">类目</th>
	    <th style="width:140px">更新时间</th>
	    <th style="width:140px">浏览次数</th>
	  </tr>
	</thead>
	<tbody>
	  <tr ng-show="items.length==0" style="display: none;">
	    <td colspan="10">当前目录是空的。</td>
	  </tr>
	  <tr ng-repeat="item in items" ng-class="'warning'|iftrue:clipboard.srcpath==curpath&amp;&amp;clipboard.items[item.name]" class="ng-scope">
	    <td><input type="checkbox" ng-model="selects[item.name]" class="ng-pristine ng-valid"></td>
	    <td>
      我的第一篇文章
      </td>
      <td >
          <div class="btn-group">
            <button title="编辑" ng-click="rename(item.name)" class="btn btn-mini">编辑</button>
            <button title="链接" ng-click="togglelink(item.name)" ng-class="'active'|iftrue:clipboard.srcpath==curpath&amp;&amp;clipboard.items[item.name]=='link'" class="btn btn-mini">链</button>
            <button title="删除" ng-click="move2trash(item.name)" class="btn btn-mini">删</button>
          </div>
      </td>
      <td>
      第一个类目
      </td>
      <td>
      2013-05-31
      </td>
      <td>
      23
      </td>
      </tr>
    </tbody>
    </table>
    </div>
    </div>
    <div class="tab-pane" id="tab2">
    <p>Howdy, I'm in Section 2.</p>
    </div>
    <div class="tab-pane" id="tab3">
    <div class="article-form">
    <form id="editForm">
      <table class="table table-hover">
        <thead>
          <tr><h4>文章基本信息</h4></tr>
        </thead>
      <tbody>
        <tr>
          <th>文章标题:</th>
          <td><input type="text" class="required" value="" id="title" name=""></td>
        </tr>
        <tr>
          <th>所属类目:</th>
          <td><select class="w740 required" id="sID" name="article[sID]">
	<option value="0">请选择</option>
        <option disabled="true" value="1" isleaf="0">一级类目</option>
        <option value="2" isleaf="1">&nbsp;├二级类目</option>
        </select></td>
        </tr>
        <tr>
	<th>文章详情:</th>
        <td><textarea  style="height:400px;width:90%" name="" id="" class="" ></textarea></td>
	</tr>
	<tr>
	  <th>图片:</th>
          <td></td>
	</tr>
      </tbody>
      </table>
    </form>
      
    </div>
    </div>

    </div>
    </div>

    </div> <!-- /container -->


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

  </body>
</html>
