.primary a.big-image{display: block; text-align: center; width: 288px; line-height: 288px; border: 1px solid #E5E5E5; padding: 3px;}

ul.list{margin: 5px 0 0 0; padding: 0; width: 288px;}
ul.list li{width: 72px; height: 72px; float: left;}
ul.list a.little-image{display: block; text-align: center; width: 70px; line-height: 70px; border: 1px solid #E5E5E5; padding: 1px;}

.property h3{font-size: 18px; font-weight: bold; margin: 0 0 20px 0;}
.property table tr{height: 30px; border-bottom: 1px dotted #ddd;}
.property em{color: #CC0000;}
