.col-md-4 h4{color: #373A3F; border-bottom: 1px solid #EEEEEE; margin-top: 0; padding-bottom: 5px;}

.carousel {margin-bottom: 20px;}
.carousel .container {position: relative; z-index: 9;}
.carousel-control { width:80px; line-height:270px; font-size: 120px; text-shadow: 0 1px 1px rgba(0,0,0,.4); border: 0; z-index: 10;}
.carousel .item {height: 270px;}
.carousel img {position: absolute; top: 0; left: 0; min-width: 100%; height: 270px;}
.carousel-caption {background-color: transparent; position: static; max-width: 550px; padding: 0 80px; margin-top:40px;text-align:left;}
.carousel-caption ul{padding: 10px}
.carousel-caption h2,
.carousel-caption .lead {margin-top: 10px; line-height: 1.25; color: #fff; text-shadow: 0 1px 1px rgba(0,0,0,.4);}
.carousel-caption .lead {padding-left:10px; font-size:14px;}
.carousel-caption .btn {margin-top: 10px;}

.row .panel{ height: 320px; padding: 20px 20px 17px; overflow: hidden; font-size: 13px; color:#5A5A5A; transition: all 0.5s ease 0s; border: 1px solid #DDDDDD;}
.row .panel li{list-style: none; height: 30px; line-height: 30px; overflow: hidden;}
.row .panel li>i.icon-chevron-right{opacity: 0.5;}
.row .panel li:hover>i.icon-chevron-right{opacity: 0.9;}

a.latest-news{color: #5A5A5A; padding-left: 5px;}
a.latest-news:active, a.latest-news:hover{text-decoration: none; color: #4691EF;}

.row .product-box{height:420px;padding:8px;}
a.thumbnail {border:none;}

