#menuContainer { margin-top:60px; }
#menuContainer .shortcut{margin:5px; text-align:center;}
#menuContainer .shortcut:hover{opacity: 0.9;margin:5px;}
#menuContainer .shortcut:first-child{margin-left:5px; }
#menuContainer h3{line-height: 140px; color: #FFFFFF; font-weight:500;}
#menuContainer a:hover{text-decoration: none;}
.article-view{background:#2D89EF;}
.article-create{background:#B91D47;}
.category{background:#00A300;}
.company{background:#7F4311;}
.site{background:#E3A21A;}
.logo{background:#9F00A7;}
.contact{background:#1E1E1E;}

