#shortcutContainer {margin-top:60px;}

#shortcutContainer .shortcut{
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	-o-transition: opacity .3s;
	transition: opacity .3s;
	text-align:center;margin-top: 20px;
}
#shortcutContainer .shortcut:hover{
	filter: alpha(opacity=80);
	-moz-opacity:0.8;
	opacity: 0.8;
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	-o-transition: opacity .3s;
	transition: opacity .3s;
}

#shortcutContainer h3{line-height: 140px; color: #FFFFFF; font-weight:500;}
#shortcutContainer a:hover{text-decoration: none;}

.article-view{background:#2D89EF;}
.article-create{background:#B91D47;}
.category{background:#00A300;}
.company{background:#7F4311;}
.site{background:#E3A21A;}
.logo{background:#9F00A7;}
.contact{background:#1E1E1E;}

