.span4 h4{color: #373A3F; border-bottom: 1px solid #EEEEEE; margin-top: 0; padding-bottom: 5px;}

.carousel {margin-bottom: 20px;}
.carousel .container {position: relative; z-index: 9;}
.carousel-control {height: 80px; margin-top: 0; font-size: 120px; text-shadow: 0 1px 1px rgba(0,0,0,.4); background-color: transparent; border: 0; z-index: 10;}
.carousel .item {height: 400px;}
.carousel img {position: absolute; top: 0; left: 0; min-width: 100%; height: 400px;}
.carousel-caption {background-color: transparent; position: static; max-width: 550px; padding: 0 80px; margin-top: 100px;}
.carousel-caption h2,.carousel-caption .lead {margin: 0; line-height: 1.25; color: #fff; text-shadow: 0 1px 1px rgba(0,0,0,.4);}
.carousel-caption .btn {margin-top: 10px;}

.row-fluid{margin-bottom: 20px;}
.row-fluid .span4{
background: linear-gradient(to bottom, #ECE8E0 0%, #E8E4DB 51%, #E2DDD2 100%) repeat scroll 0 0 transparent;
height: 320px; padding: 20px 20px 17px; overflow: hidden; font-size: 13px; color: #83868A; border-radius: 6px 6px 6px 6px; transition: all 0.5s ease 0s;}
.row-fluid .span4 li{list-style: none; height: 30px; line-height: 30px; overflow: hidden;}

a.latest-news{color: #5A5A5A; padding-left: 5px;}
a.latest-news:active, a.latest-news:hover{text-decoration: none; color: #4691EF;}


