/**
* The admin css file of XiRangEPS.
*
* @copyright   Copyright 2012-2013 QingDao XiRang Network Infomation Co,LTD (www.xirang.biz)
* @author      Chunsheng Wang <chunsheng@cnezsoft.com>
* @package     XiRangEPS
* @version     $Id: style.css 1454 2009-10-23 01:45:26Z wwccss $
* @link        http://www.xirang.biz
 */
.navbar .brand{padding:5px 20px;}
.brand img{height:30px;}
.navbar-container{width:1170px;margin:0 auto;}
