/* Space out content a bit */
body{ padding-bottom: 20px; }

/* Everything but the jumbotron gets side spacing for mobile first views */
.header { padding:100px 15px 0 15px; border-bottom: 1px solid #e5e5e5;   background:url(http://www.eps.com/data/upload/201308/d8b39164d1b04382810ba065e34458a6.jpg); } 

/* Make the masthead heading the same height as the navigation */
.header h3 { margin-top: 0; margin-bottom: 0; line-height: 40px; padding-bottom: 19px; }

/* Customize container */
.container { max-width: 960px; }
.container-narrow > hr { margin:0; }

/* box settings. */
.box {margin-bottom: 10px; padding:0; border:1px solid #ddd;}
.box h4 {margin:0; padding:0 0 0 10px; border-bottom:1px solid #ddd;-moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; height:40px; line-height:40px; font-size:14px; font-weight:700; background: #EFEFEF; color:#333; }
.box .content {padding:20px;}
.box ul {margin:10px 20px;}

.breadcrumb{margin:10px 0; padding-left:0;}
.media-object {max-height:200px;}

/* Content settings. */
.blogBox h3 { margin-bottom:10px; }
.blogBox h3 a{ color:#333333; }

h1{font-size:26px;  text-align:center;}
