/* Styles for admin login form. */
.admin{width: 360px; margin: 0 auto 20px; padding: 19px 29px 29px; background-color: #fff; border: 1px solid #e5e5e5;}
.admin input{margin-bottom: 10px;}

#logo{display: block; margin: 0 auto; text-align: center;}
#logo img{width: 200px; padding: 0 0 10px 0;}

.input-block-level{width: 100%;}
