/* Styles for admin login form. */
.admin{width: 300px; margin: 0 auto 20px; padding: 19px 29px 29px; background-color: #fff; border: 1px solid #e5e5e5;}
.admin .text-3{font-size: 16px; height: auto; margin-bottom: 15px; padding: 7px 9px;}

#logo{display:block; margin:0 auto; text-align:center;}
#logo img{width:200px; padding:0 0 10px 0;}
